body
{
  background-color: #eaebef;
}

h3{
  font-family: Calibri; 
  font-size: 22pt;         
  font-style: normal;  
  color:SlateBlue;
  text-align: center;
}

table{
  font-family: Calibri; 
  color:black; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  border-collapse: collapse; 
  border: 2px solid #141313;
  width: 280px;
}